
body {
    background-image: url(dot.png);
    background-size: 100%;
    font-family: "나눔바른고딕";
}


#logo {
  text-decoration: none;
  float: left;
  margin:10px 20px ;
  font-size: 30px;
  color: white;
}
header {
  margin: 0;
  width: 100%;
  float: left;
}
article {
  width: 100%;
  float: left;
  position: relative;
}
nav {
    margin:0 0 20px 0;
    font-size: 20px;
}
nav ul li {
    float: right;
    list-style-type: none;
    margin:0 10px ;

}
nav a {
    color: white;
    text-decoration: none;
    padding:10px;
}
nav a:hover {
    color: pink;
    border-style: hidden hidden solid hidden;
}

#menu {
  margin: 0px 0px 0px 0px;
  text-align:center;
}
#menu a {
  color: white;
  font-size: 250px;
  line-height: calc(100vh - 100px);
  text-decoration: none;
  margin: 0 50px;
}

#menu #pr:hover{
  color: #4c9de2;
  transition: color 2s;
}

#menu #ti:hover{
  color: #fe8563;
  transition: color 2s;
}

#menu #ho:hover{
  color: #ff6647;
  transition: color 2s;
}

#menu #co:hover{
  color: #e2eb64;
  transition: color 2s;
}

footer #copyright {
  margin-left: 10px;
  position: absolute;
  color: white;
	height: 50px;
	line-height: 50px;
	font-size: 0.8em;
	bottom: 0;
}

.time {
    margin: 40px 0px 50px 20px;
    padding: 20px 30px 50px 300px;
    background-color: white;
    width: 76%;
    height : 90%;
}

.time tr td {
  table-layout: auto; width:140px;
  height:50px;text-align: center;
}
.con {
  margin: 80px 80px 100px 50px;
  padding: 50px 0 50px 100px;
  background-color: white;
  font-size: 18px;
  width: 85%;
}



.pro {
  margin:100px 200px 100px 80px;
  background-color: white;
  font-size: 18px;
  text-align: center;
  width:90%;
}
.con label,.con button {
  text-align: left;
  line-height: 50px;

}

.hob strong{
  font-size: 35px;
}
.hob{
  margin: 50px 200px 20px 200px;

  padding : 50px 50px 50px 50px;
  background-color: white;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  width:80%;
}

.time{

  margin: 50px 20px 20px 200px;
  padding : 20px 0 20px 0;
  background-color: white;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
